nav{
    width: 260px;
    height: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    background: #1D1D1D;
    color: #fff;
}

.menu-logo{
    margin: 20px 0 40px 0;
}

nav ul{
    padding: 0;
    margin: 0 0 0 20px;
}

nav a{
    color: #fff;
    text-decoration: none;
}