nav{
    width: 260px;
    height: 100%;
    padding: 0 25px;
    box-sizing: border-box;
    background: #1D1D1D;
    color: #fff;
}

nav ul{
    padding: 0;
    margin: 0 0 0 20px;
    list-style: disc;
}

nav a{
    color: #fff;
    text-decoration: none;
}