
.project{
    position: relative;
    padding: 15px;
    margin: 15px 0;
    border-radius: 12px;
}

.project.project-red{
    background: rgba(222, 104, 101, 0.2);
}

.project.project-blue{
    background: rgba(101, 178, 222, 0.2);
}

.project-trangle{
    position: absolute;
    top: 24px;
    left: -12px;
    transform: rotate(-90deg);
}

.project.open .project-trangle{
    position: absolute;
    top: 24px;
    left: -12px;
    transform: none;
}

.project-header{
    display: grid;
    grid-template-columns: 30px auto;
    gap: 8px;
    cursor: pointer;
}

.project-title{
    background: transparent;
    border: none;
    color: #fff;
}

.project-title.mode-readonly{
    outline: none;
    cursor: pointer;
}

.project-header-ico{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: #DE6865;
}

.project.project-blue .project-header-ico{
    background: #65B2DE;
}

.project-header-docs{
    color: #888888;
    font-size: 12px;
    user-select: none;
}

.project-header-params{
    position: relative;
    display: flex;
    gap: 4px;
    padding: 5px;
    margin-left: auto;
    cursor: pointer;
}


.project-header-bullet{
    width: 3px;
    height: 3px;
    background: #D9D9D9;
    border-radius: 50%;
}

.project-editors{
    list-style: none;
}

.project-editor-item{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
}

.project-editor-ico{
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
}